@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Organize your House!</h1>
</div>
<div class="container text-center p-5 m-5">
    <h3>This application allows you to get a hold of your household mess situation.</h3>
    <h4>Begin by adding some products and categories that exist in your house, then organize by listing the products by category!</h4>
    <img src="~/img/garage.jpg" alt="Messy Garage" style="width: 75%; margin: 2rem;">
    <div class="row text-center">
        <div class="col"><a href="categories"><button class="btn btn-primary">Add Categories</button></a></div>
        <div class="col"><a href="products"><button class="btn btn-primary">Add Products</button></a></div>
    </div>
</div>
