@{
    ViewData["Title"] = "Home Page";
}
@model ProdsAndCats.Models.Category

<div class="text-center">
    <h1 class="display-4">@ViewBag.ThisCategory.Name</h1>
</div>
<div class="container p-5 m-5 border">
    <div class="row">
        <div class="col">
            <h3 class="m-3">Products</h3>
        <ul>
            @foreach (var item in @ViewBag.Associations)
            {
                <li><h3><a href="/products/@item.ProductId">@item.Product.Name</a></h3></li>
            }
        </ul>
        </div>
        <div class="col"> 
            @* Add form partial here. *@
            <partial name = "AddProductPartial"/>
        </div>
    </div>
</div>